/* Animals bday Card Animation */






/* Candle Animation */
/* @keyframes blinkY {
  0%        {fill:#fcf03d}
  75%       {fill:transparent}
  100%      {fill:#fcf03d}
}

@keyframes blinkO {
  0%        {fill:#fc883d}
  75%       {fill:transparent}
  100%      {fill:#fc883d}
}

.st4 {
  animation: blinkY 1s linear infinite;
}

.cls-5 {
  animation: blinkO 1s linear infinite;
  animation-delay: .5s;
} */
