body {
  padding-bottom: 4em;
  background-image: url("../img/valentine-bg.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

iframe {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none;
  min-height: 100vh;
}

.fsBody .fsForm {
  background-color: rgba(255, 255, 255, 0) !important;

}

.page-wrapper {
  margin: 0 auto;
  padding-top: 23vh;
}

.form {
  width: 100%;
  padding: 0px 5%;
}

